<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <p class="navbar-item is-uppercase">
      {{format-navtitle this.routeName}}
    </p>
    <a {{action "toggleTouchMenu" }} role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu {{this.touchActive}}">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <div class="navbar-item is-hidden-touch">
        {{#link-to "about" }}
          <span class="icon"><i class="fa fa-search"></i></span>
        {{/link-to}}
        {{#link-to "about" }}
          <span class="icon"><i class="fa fa-bolt"></i></span>
        {{/link-to}}
        {{#link-to "about" }}
          <span class="icon"><i class="fa fa-github"></i></span>
        {{/link-to}}
      </div>
      <div class="navbar-item is-hidden-desktop has-dropdown">
        <div class="navbar-dropdown is-boxed">
          {{#link-to "dashboard" class="navbar-item"}}
            <span class="icon"><i class="fa fa-signal" aria-hidden="true"></i></span>
            <span>Dashboard</span>
          {{/link-to}}
          {{#link-to "tables" class="navbar-item"}}
            <span class="icon"><i class="fa fa-table" aria-hidden="true"></i></span>
            <span>Table List</span>
          {{/link-to}}

        </div>
      </div>

    </div>
  </div>
</nav>
