// Colors
$primary: #650360;
$link: #650360;
$info:    #00A4D9;
$success: #5eadb2;
$warning: #fce473;
$danger:  #ed6c63;
$background: #cccccc;
$body-background-color: #777777;
$navbar-background-color: #777777;
$table-background-color: #999999;
$box-background-color: #999999;

// Border radius
////$radius: 4;

@import "bulma";
