<div class="tile is-child box has-background-grey">
  <PlaceholderChart @segments={{this.model.tables}} />
</div>

<div class="tile is-child box has-background-grey">
  <DonutChart @segments={{this.model.tables}} />
</div>

<div class="tile is-child">
  <StatsCard @segments={{this.model.tables}} />
</div>
