<div class="tile is-parent box">
  <figure class="tile is-child image">
    <img src="assets/images/benjamin-deyoung-1437086-unsplash.jpg" alt="Campfire Photo by Benjamin DeYoung on Unsplash">
  </figure>
  <div class="tile is-child">
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <div class="title">About FHIR admin</div>
        <p >
          HL7® FHIR® standard is the international guideline for the inter exchange of health data. Go to <a href="https://www.hl7.org/fhir/">HL7</a> to learn more.
          This FHIR admin website is a CRUD UI project created in <a href="https://www.emberjs.com">Ember</a>.
          It&apos;s one step beyond the <a href="https://accidental-oil.glitch.com">FHIR ping tool</a>, to demonstrate
          more operations in addition to read / update.
        </p>
      </div>
      <div class="tile is-child">
        <span class="tag">#fhirbase</span>
        <span class="tag">#fhir</span>
        <span class="tag">#healthcare</span>
      </div>
      <div class="tile is-child is-size-7">
        Photo by Benjamin DeYoung on Unsplash
      </div>
    </div>
  </div>

</div>
